body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3C3633;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #EEEDEB;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

.balance-container {
    text-align: center;
    margin-bottom: 20px;
}

#balance {
    color: #333;
}

.form-container {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    background-color: #747264;
    color: #fff;
    border: none;
    cursor: pointer;
}

.expenses-container {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

.delete-btn {
    background-color: #25569f;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #e62c3f;
}